body{

background:#0f172a;

color:white;

font-family:

Arial;

}



button{

padding:15px;

background:#2563eb;

border:none;

color:white;

border-radius:10px;

margin:10px;

cursor:pointer;

}



.card{

background:#1e293b;

padding:30px;

border-radius:20px;

}