<!DOCTYPE html>

<html>

<body>


<h1>

Crear propuesta

</h1>



<form id="propuestaForm">


<input

placeholder="Cliente"

id="cliente"

/>



<input

placeholder="Vendedor"

id="vendedor"

/>



<input

placeholder="Monto"

id="monto"

/>



<button>

Guardar

</button>


</form>



<script>


document.getElementById(

"propuestaForm"

)

.onsubmit=async(e)=>{


e.preventDefault()



await fetch(

"/crearPropuesta",

{

method:

"POST",

headers:{

"Content-Type":

"application/json"

},


body:

JSON.stringify({

clienteID:

cliente.value,

vendedorID:

vendedor.value,

monto:

monto.value

})



}

)



alert(

"Propuesta creada"

)


}



</script>


</body>

</html>