<!DOCTYPE html>

<html>

<head>

<title>

Registrar Cliente

</title>

</head>


<body>


<h1>

Registrar Cliente

</h1>



<form id="clienteForm">


<input

placeholder="Nombre"

id="nombre"

/>


<input

placeholder="Apellido"

id="apellido"

/>



<input

placeholder="Email"

id="email"

/>



<input

placeholder="Telefono"

id="telefono"

/>



<input

placeholder="Empresa"

id="empresa"

/>



<input

placeholder="Cargo"

id="cargo"

/>



<button>

Guardar

</button>


</form>



<script>


document.getElementById(

"clienteForm"

)

.onsubmit=async(e)=>{


e.preventDefault();



await fetch(

"/registrarCliente",

{

method:"POST",

headers:{

"Content-Type":

"application/json"

},



body:JSON.stringify({

nombres:

nombre.value,

apellidos:

apellido.value,

email:

email.value,

telefono:

telefono.value,

empresa:

empresa.value,

cargo:

cargo.value

})



}



);



alert(

"Cliente registrado"

);



}


</script>



</body>

</html>